:root {
    --primary: #000000;
    --color1: #112448;
    --color2: #39579e;
    --color3: #6b90ff;
    --color4: #a7cfff;
    --color5: #747a80;
    --white: #EEEEEE;
}

.home {
    width: 100%;
    height: 100%;
    /* background-color: var(--white); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    position: relative;
    overflow: hidden;
    /* -webkit-transition: all .5s ease-in-out; */
    /* transition: all .5s ease-in-out; */
}

.dark {
    background-color: var(--primary);
    /* transition: 500ms; */
    color: var(--white);
    /* -webkit-transition: all .5s ease-in-out; */
    /* transition: all .5s ease-in-out; */
}

.backdrop {
    position: absolute;
    z-index: -1;
    height: 100%;
    transform: rotate(180deg);
}

.lamp-icon {
    width: 100px;
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 2;
}

.lamp-icon:hover { 
    z-index: 2;
    scale: 1.15;
}

.lamp-icon:active {
    z-index: 2;
    scale: 1.1;
}

.left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-footer {
    margin-top: auto;
}

.tab-footer-mobile {
    width: 0;
    height: 0;
    overflow: hidden;
}

.disp {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Media query for smaller screens, adjust as needed */
/* tablet devices */
@media (max-width: 900px ) {
    .home {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--primary);
        position: relative;
    }
    .dark {
        background-color: var(--primary);
        color: var(--white);
    }
    .backdrop {
        position: absolute;
        z-index: -1;
        height: 100%;
        transform: rotate(90deg);
    }

    .lamp-icon {
        width: 100px;
        position: absolute;
        top: 0;
        left: auto;
        z-index: 2;
    }

    .lamp-icon:hover {
        z-index: 2;
        scale: 1.15;
    }

    .lamp-icon:active {
        z-index: 2;
        scale: 1.1;
    }

    .left {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 10px;
        /* transform: scale(1.3); */
    }

    .tab-footer {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    .tab-footer-mobile {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #121212; */
        /* opacity: 0.5; */
        /* padding-inline: auto; */
    }

    .disp {
        width: 90%;
        height: fit-content;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-inline: 5%;
        overflow: visible;
    }

    .active-comp {
        width: 100%;
        height: calc(100%-85px);
    }

    .tab-footer-mobile {
        width: 100%;
        height: 65px;
        margin-bottom: 0;
    }
}

/* Media query for even smaller screens, adjust as needed */
/* mobile devices */
@media (max-width: 480px) {
    .home {
        /* Add responsive styles for even smaller screens here */
        width: 100%;
        height: fit-content;
        /* background-color: var(--white); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--primary);
        position: relative;
    }
    .dark {
        background-color: var(--primary);
        /* transition: 500ms; */
        color: var(--white);
        /* -webkit-transition: all .5s ease-in-out; */
        /* transition: all .5s ease-in-out; */
    }
    
    .backdrop {
        position: absolute;
        z-index: -1;
        height: 100%;
        transform: rotate(90deg);
    }
    
    .lamp-icon {
        width: 100px;
        position: absolute;
        top: 0;
        left: auto;
        z-index: 2;
    }
    
    .lamp-icon:hover {
        z-index: 2;
        scale: 1.15;
    }
    
    .lamp-icon:active {
        z-index: 2;
        scale: 1.1;
    }
    
    .left {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */
        padding-left: 10px;
        /* transform: scale(1); */
        /* overflow: hidden; */

    }
    
    .disp {
        width: 90%;
        height: 90vh;
        /* min-height: 100vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-inline: 5%;
    }

    .active-comp {
        width: 100%;
        height: calc(100%-105px);
    }
    
    .tab-footer-mobile {
        width: 100%;
        height: 65px;
        margin-bottom: 0;
    }
}