.window {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

/* Hide the scrollbar in webkit-based browsers */
.window::-webkit-scrollbar {
    width: 0;
    /* You can also use 'height: 0;' for horizontal scrollbar */
    background: transparent;
    /* Optional: Set the background to match your component */
}

@media(max-width: 900) {
    .window {
        height: 100%;
        overflow-y: visible;
    }
}